.button__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $text-on-background;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
  background-color: $button-color;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button__link--color_light {
  background-color: $background-form;
  color: $base-small-text;
}

@media (min-width: $tablet-width) {
  .button__link {
    width: 248px;
  }

  .button__wrapper--size_large {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .button__wrapper {
    width: 168px;
    height: 40px;
  }

  .button__wrapper--size_large {
    width: 224px;
    height: 40px;
  }
}
