.campaign__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $text-on-background;
  text-align: center;
  margin: 0;
  padding-right: 60px;
  padding-left: 56px;
  padding-top: 187px;
}

.campaign__background::before {
  content: "";
  position: absolute;
  width: 198px;
  height: 197px;
  mask: url("../../img/stack.svg#gift");
  mask-position: 0;
  mask-repeat: no-repeat;
  background: $text-on-background;
  margin: auto;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
}


.campaign__background {
  height: 289px;
  background-image: url("../../img/campaign.jpg");
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/campaign@2x.jpg");
  }
}

.campaign {
  position: relative;
}

@media (min-width: $tablet-width) {
  .campaign__background {
    height: 200px;
    background-image: url("../../img/campaign_tablet@1x.jpg");
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/campaign_tablet@2x.jpg");
    }
  }

  .campaign__text {
    padding-right: 107px;
    padding-left: 423px;
    padding-top: 72px;
    text-align: left;
  }

  .campaign__background::before {
    width: 205px;
    height: 205px;
    left: 16px;
    bottom: 0;
    margin: 0;
    top: -6px;
  }
}

@media (min-width: $desktop-width) {
  .campaign__image {
    width: 245px;
    height: 289px;
  }

  .campaign__background::before {
    margin: auto;
    left: 0;
    bottom: 99px;
    top: 0;
  }

  .campaign__text {
    padding-top: 187px;
    padding-right: 43px;
    padding-left: 39px;
    text-align: center;
  }

  .campaign__background {
    height: 289px;
    background-image: url("../../img/campaign_desktop@1x.jpg");
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/campaign_desktop@2x.jpg");
    }
  }
}
