.campaign__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $text-on-background;
  text-align: center;
  margin: 0;
  padding-right: 60px;
  padding-left: 59px;
  padding-top: 187px;
}


.campaign__background {
  height: 289px;
  background-image: url("../../img/background/campaign.jpg");
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.campaign {
  position: relative;
}

@media (min-width: $tablet-width) {
  .campaign__text {
    padding-right: 107px;
    padding-left: 423px;
    padding-top: 72px;
    text-align: left;
  }

  .campaign__background {
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .campaign__image {
    width: 245px;
    height: 289px;
  }

  .campaign__text {
    top: 120px;
    padding-right: 60px;
    padding-left: 60px;
    text-align: center;
  }

  .campaign__background {
    height: 289px;
  }
}
