.campaign__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $text-on-background;
}

.campaign__background {
  background-color: $shape-color;
}
