.catalog-extra__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $main-text;
}

.catalog-extra__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .catalog-extra__wrapper {
    display: grid;
    grid-template-columns: 75% 20%;
    column-gap: 60px;
  }
}
