.example {
  background-color: $background;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $main-text;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: $base-small-text;
}

.example__proof dt {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  color: $base-small-text;
}

.example__proof dd {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $main-text;
}

.example__proof--total dt,
.example__proof--total dd {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $main-text;
}
