.extra__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  color: $main-text;
}

.extra label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-text;
}

@media (min-width: $tablet-width) {
  .extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  .extra__title {
    grid-column: 1/3;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    display: flex;
    justify-content: space-between;
  }
}
