.extra {
  border: none;
  padding: 0;
  position: relative;
}

.extra-item {
  margin: 0;
}

.extra::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 104%;
  background-color: $shape-color;
  box-shadow: 200px 0 $shape-color;
  z-index: -1;
  top: -50px;
}

.extra__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $main-text;
  background-color: $background-white;
  padding-right: 20px;
  margin-bottom: 38px;
}

.extra__option {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .extra__position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    row-gap: 42px;
    margin-left: 40px;
    margin-top: 24px;
  }

  .extra__title {
    font-size: 36px;
    line-height: 36px;
    width: max-content;
    padding-left: 40px;
    padding-right: 41px;
  }

  .extra__option {
    margin: 0;
  }

  .extra::before {
    top: -52px;
    right: 41px;
  }
}

@media (min-width: $desktop-width) {
  .extra__position {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 85px;
  }
}
