.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $main-text;
  margin: 0;
  padding-bottom: 40px;
}

.feature-item__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: $base-small-text;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__text {
  margin: 0;
  min-height: 54px;
}

.features__item {
  padding-left: 80px;
  margin-bottom: 26px;
  position: relative;
}

.features__caunt {
  display: none;
}

.features__item::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $shape-color;
  top: -3px;
  left: 0;
  z-index: -1;
}

.features__item-icon1::before {
  position: absolute;
  content: "";
  background-image: url("../../img/stack.svg#features_img1");
  background-repeat: no-repeat;
  width: 85px;
  height: 85px;
  top: 14px;
  left: -13px;
}

.features__item-icon2::before {
  position: absolute;
  content: "";
  background-image: url("../../img/stack.svg#features_img2");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 15px;
}

.features__item-icon3::before {
  position: absolute;
  content: "";
  background-image: url("../../img/stack.svg#features_img3");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 12px;
  left: 18px;
}

.features__item-icon4::before {
  position: absolute;
  content: "";
  background-image: url("../../img/stack.svg#features_img4");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 12px;
  left: 17px;
}

@media (min-width: $tablet-width) {
  .features__item::after {
    width: 80px;
    height: 80px;
    top: 37px;
    left: 0;
  }

  .features__item-icon1::before {
    top: 64px;
    left: 27px;
  }

  .features__item-icon2::before {
    top: 61px;
    left: 25px;
  }

  .features__item-icon3::before {
    top: 62px;
    left: 28px;
  }

  .features__item-icon4::before {
    top: 62px;
    left: 27px;
  }

  .features__caunt {
    display: flex;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    color: $background-form;
    z-index: -1;
    padding-left: 115px;
  }

  .features__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 33px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 68px;
  }

  .features__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: -129px;
    padding-right: 70px;
  }

  .features__item {
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .features__item::after {
    top: 40px;
    left: 2px;
  }

  .features__item-icon1::before {
    top: 66px;
    left: 31px;
  }

  .features__item-icon2::before {
    top: 64px;
    left: 27px;
  }

  .features__item-icon3::before {
    top: 64px;
    left: 30px;
  }

  .features__item-icon4::before {
    top: 65px;
    left: 30px;
  }

  .features {
    margin-bottom: 72px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 74px;
    grid-template-rows: auto;
  }

  .features__text {
    padding-right: 0;
  }
}
