.features__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $main-text;
}

.feature-item__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: $base-small-text;
}

@media (min-width: $tablet-width) {
  .features {
    height: 780px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .features {
    height: 512px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
