.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-logo__logo-image {
  padding-top: 6px;
}

.footer-logo__link:hover {
  opacity: 0.8;
}

.footer-logo__link:active {
  opacity: 0.6;
}
