.goods {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.goods__link {
  text-decoration: none;
}

.goods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark;
  margin: 0;
  padding-right: 45px;
  padding-bottom: 14px;
}

.goods__feature,
.goods__feature-value {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $base-small-text;
}

.goods__feature-value {
  margin: 0;
  text-align: end;
}

.goods__link-image {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods__button {
  grid-column: 1/3;
}

.goods__description {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .goods {
    display: flex;
    flex-direction: column;
    background-color: $background-form;
  }

  .goods__link-image {
    order: -1;
  }
}
