.location__invitation {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $main-text;
}

.location__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $base-small-text;
}

.location__wrapper {
  display: flex;
}

.location--background {
  background-color: $background-form;
}

@media (min-width: $desktop-width) {
  .location {
    position: relative;
  }

  .location__wrapper {
    position: absolute;
    width: 570px;
    height: 201px;
    background-color: $background-white;
    top: 50px;
  }

  .location__invitation {
    font-size: 20px;
    line-height: 21px;
  }

  .location__adress {
    font-size: 16px;
    line-height: 20px;
  }

  .location__position {
    position: relative;
  }
}
