.main-nav__list {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $main-text;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.main-nav__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  border-top: 1px solid $border;
  padding-top: 22px;
  padding-bottom: 23px;
}

.main-nav__wrapper {
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    column-gap: 35px;
  }

  .main-nav__wrapper {
    padding-top: 0;
  }

  .main-nav__link {
    border-top: none;
    padding-bottom: 6px;
  }

  .main-nav__link--item_choose {
    border-bottom: 2px solid $shape-color;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    font-size: 20px;
    line-height: 24px;
    color: $text-on-background;
    column-gap: 34px;
  }

  .main-nav__link {
    padding-bottom: 10px;
  }

  .main-nav__list--color_black {
    color: $main-text;
  }

  .main-nav__link--item_choose {
    border-bottom: 2px solid $shape-color;
  }
}
