.option {
  padding: 0;
  border: none;
}

.option__item {
  margin: 0;
  margin-bottom: 23px;
  padding-left: 43px;
  position: relative;
}

.option__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark;
}

.option__input + .option__label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid $more-light-border;
  border-radius: 50%;
  left: -3px;
  top: -7px;
}

.option__input:hover + .option__label::before {
  border: 1px solid $radio-border;
}

.option__input:focus + .option__label::before {
  outline: 1px solid $base-small-text;
}

.option__input:disabled + .option__label::before,
.option__input:disabled + .option__label,
.option__input:checked:disabled + .option__label::after,
.option__input:checked:disabled + .option__label {
  opacity: 0.5;
}


.option__input:checked + .option__label::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: $shape-color;
  border-radius: 50%;
  left: 7px;
  top: 3px;
}

@media (min-width: $tablet-width) {
  .option {
    border: 1px solid $border;
  }

  .option__item {
    padding-left: 87px;
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .option__label {
    font-size: 20px;
    line-height: 30px;
  }

  .option__input + .option__label::before {
    width: 38px;
    height: 38px;
    left: 27px;
    top: -5px;
  }

  .option__input:checked + .option__label::after {
    width: 18px;
    height: 18px;
    left: 38px;
    top: 6px;
  }
}
