.page-footer {
  background-color: $background-form;
  padding-top: 26px;
}

.page-footer__position {
  position: relative;
}

.page-footer__position::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 64px;
  background-color: $light-border;
}

.page-footer__position::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 127px;
  background-color: $light-border;
}


@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 48px;
  }

  .page-footer__position::before,
  .page-footer__position::after {
    display: none;
  }

  .page-footer__position {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 54px;
  }
}
