
.program {
  position: relative;
  padding: 20px;
}

.program__title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: $main-text;
  text-transform: uppercase;
}

.program__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: $base-small-text;
  margin-top: 29px;
  padding-bottom: 22px;
  border-bottom: 1px solid $light-border;
}

.program__button {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-top: 19px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $main-text;
  text-decoration: none;
  text-transform: uppercase;
}

.program__button::after {
  content: "";
  margin-left: 16px;
  width: 32px;
  height: 12px;
  mask-image: url("../../img/stack.svg#icon_arrow");
  mask-position: -8px;
  mask-repeat: no-repeat;
  mask-size: cover;
  background: currentColor;
  transition: all 0.1s;
}

.program__button:hover::after {
  mask-position: 0;
}

.program__button:active {
  opacity: 0.3;
}

.program__cat-slim {
  position: absolute;
  top: 20px;
  left: 22px;
}

.program__cat-big {
  position: absolute;
  top: 23px;
  left: 13px;
}

.program::before {
  content: "";
  float: left;
  width: 70px;
  height: 70px;
  margin: -6px 9px 12px -8px;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
}

.program--icon-cat-slim::before {
  background-image:
    url("../../img/stack.svg#cat_slim"),
    radial-gradient($shape-color 50%, transparent 50%);
}

.program--icon-cat-big::before {
  background-image:
    url("../../img/stack.svg#cat_big"),
    radial-gradient($shape-color 50%, transparent 50%);
}

@media (min-width: $tablet-width) {
  .program {
    padding: 52px;
  }

  .program::before {
    width: 280px;
    height: 280px;
    float: right;
    margin: 0 -30px -15px 12px;
  }

  .program--icon-cat-slim::before {
    margin-left: -20px;
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 15px;
  }

  .program__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
    border-bottom: none;
  }

  .program__button {
    font-size: 20px;
    line-height: 30px;
    margin-top: 26px;
    margin-bottom: 5px;
  }

  .program__button::after {
    margin-left: 24px;
  }
}

@media (min-width: $desktop-width) {
  .program::before {
    width: 140px;
    height: 140px;
    float: left;
    margin: -25px 42px 19px -20px;
  }

  .program__title {
    margin-bottom: 64px;
  }

  .program__text {
    margin-top: 74px;
    padding-bottom: 0;
    margin-bottom: 26px;
  }

  .program__button {
    margin-top: 4px;
    margin-bottom: 7px;
  }

  .program__button::after {
    margin-left: 28px;
  }
}
