.programs__item {
  position: relative;
  background-color: $background;
  margin-top: 20px;
}


@media (min-width: $tablet-width) {
  .programs__item {
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
