.promo-button__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-on-background;
}

.promo-button__wrapper {
  width: 280px;
  height: 42px;
  background-color: $button-color;
}
