.promo {
  display: grid;
  position: relative;
}

.promo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 302px;
  top: 1px;
  z-index: -1;
  background-image: url("../../img/background_green.png"), url("../../img/index_background_mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: top, top;
  background-size: cover, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background_green.png"), url("../../img/index_background_mobile@2x.jpg");
  }
}

.promo__description {
  display: grid;
  margin-top: 28px;
  margin-bottom: 28px;
  row-gap: 25px;
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $text-on-background;
  text-align: center;
  margin: 0;
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $text-on-background;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.promo__img {
  width: 280px;
  margin: 0 auto;
}

.promo__button {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 117px 1fr 1fr 1fr;
    row-gap: 50px;
  }

  .promo::after {
    display: none;
  }

  .promo__img {
    grid-column: 1/4;
    grid-row: 2/3;
    z-index: -1;
    width: 552px;
    margin-top: -30px;
    margin-left: 29px;
  }

  .promo__button {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    margin-left: -5px;
  }

  .promo__main-img {
    width: 709px;
    height: 609px;
  }

  .promo__description {
    grid-column: 2/3;
    margin-top: 52px;
    row-gap: 41px;
    margin-bottom: 0;
  }

  .promo__title {
    color: $dark;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .promo__text {
    color: $dark;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 657px;
    grid-template-columns: 190px 1fr 1fr 1fr 190px;
  }

  .promo__description {
    margin-top: 104px;
    grid-column: 2/3;
  }

  .promo::after {
    display: block;
    position: absolute;
    background-image: url("../../img/background_green.png"), url("../../img/index_background_desktop@1x.jpg");
    z-index: -1;
    width: 50%;
    height: 694px;
    right: 0;
    top: -117px;


    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background_green.png"), url("../../img/index_background_desktop@2x.jpg");
    }
  }

  .promo__main-img {
    width: 552px;
    height: 499px;
  }

  .promo__img {
    z-index: 1;
    margin: 0;
    grid-column: 3/5;
    margin-top: -312px;
    margin-left: -45px;
  }

  .promo__button {
    margin-left: 0;
  }
}
