.promo {
  position: relative;
  min-height: 480px;
}

.promo__background {
  width: 100%;
  height: 302px;
  background-image: url("../../img/background/background_green.png"), url("../../img/background/index_background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: top, top;
  margin-top: -80px;
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $text-on-background;
  text-align: center;
}

.promo__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $text-on-background;
  text-transform: uppercase;
  text-align: center;
}

.promo__img {
  margin-top: -130px;
}

@media (min-width: $tablet-width) {
  .promo {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .promo__title {
    color: $dark;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .promo__text {
    color: $dark;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__background {
    display: none;
  }

  .promo__img {
    margin-top: -20px;
    order: 1;
  }

  .promo__button {
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .promo__background {
    display: block;
    position: absolute;
    top: -21px;
    left: 450px;
    z-index: -1;
  }

  .promo__img {
    margin-top: 0;
    z-index: 1;
    position: absolute;
    top: -21px;
    left: 1000px;
  }
}
