// Color

$main-text:hsl(0, 0%, 0%);
$text-on-background:hsl(0, 0%, 100%);
$background-white:hsl(0, 0%, 100%);
$background:hsl(0, 0%, 92%);
$background-form:hsl(0, 0%, 95%);
$border:hsl(0, 0%, 90%);
$form-border: hsla(0, 0%, 91%, 1);
$light-border:hsl(0, 0%, 85%);
$more-light-border:hsl(0, 0%, 80%);
$radio-border: hsla(0, 0%, 73%, 1);
$base-small-text:hsl(0, 0%, 27%);
$special-dark:hsl(0, 0%, 13%);
$dark:hsl(0, 0%, 7%);
$button-color:hsl(97, 53%, 47%);
$shape-color:hsl(97, 53%, 47%);
$shape-effect:hsla(97, 57%, 43%, 1);
$transparent-pass:hsla(97, 53%, 47%, 0.85);
$text-effect:hsla(0, 0%, 100%, 0.3);
$text-effect-transparent:hsla(0, 0%, 100%, 0.6);
$gray-down: hsla(0, 0%, 70%, 1);
$gray-hover: hsla(0, 0%, 40%, 1);
$error: hsla(0, 100%, 75%, 1);


// Viewports

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
